<!--[page]-->
<%for(var i in option.modules){%>
<%console.log(option.modules[i]);%>
<@module type="{{option.modules[i].type}}" option="{{option.modules[i].option}}"/>
<%}%>
<!--[base]-->
<div class="base-header">
    <div class="base-header-bg" data-find="bg"></div>
    <div class="base-header-icon" data-find="link">
        <a href="about" class="base-header-iconimg"><img src="blog/style/images/logo.png"></a>
    </div>
    <div class="base-header-desc">
        <div class="base-header-desc-a">hou80houzhu`s developworks</div>
        <div class="base-header-desc-b">
            This blog is created based on my open source projects <br/>
            Here we will record some of the things I think is worth sharing, as well as some of my projects dynamic<br/>
            Only to be a developer with craftsman spirit.</div>
    </div>
    <div class="base-header-contact">
        <a href="https://twitter.com/hou80houzhu" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/hou80houzhu" target="_blank"><i class="fa fa-github"></i></a>
        <a href="javascript:;" class="base-header-contact-pop">
            <i class="fa fa-weixin"></i>
            <div class="base-header-contact-pop-icon"><img src="blog/style/images/wechat.png"></div>
        </a>
        <a href="about" style="font-size:13px;" data-find="about">About</a>
    </div>
    <div class="base-header-projects">
        <div class="base-header-projects-a">my projects</div>
        <div class="base-header-projects-b">Those projects are all designed & developed by me.</div>
        <div class="row mid-fix on480-row-2col on768-row-3col">
            <div class="span1-6">
                <a class="base-header-projects-item" href="http://brightjs.org" target="_blank">
                    <img src="blog/style/images/brightjs.png">
                    <div class="base-header-projects-item-tip">An awesome web framework.</div>
                    <div class="base-header-projects-item-name">BrightJS</div>
                </a>
            </div>
            <div class="span1-6">
                <a class="base-header-projects-item" href="https://github.com/hou80houzhu/brightbuilder" target="_blank">
                    <img src="blog/style/images/brightbuilder.png">
                    <div class="base-header-projects-item-tip">Build the projects which run with the BrightJS web framework.</div>
                    <div class="base-header-projects-item-name">BrightBuilder</div>
                </a>
            </div>
            <div class="span1-6">
                <a class="base-header-projects-item" href="https://github.com/hou80houzhu/brighttoolkit" target="_blank">
                    <img src="blog/style/images/brighttoolkit.png">
                    <div class="base-header-projects-item-tip">Chrome Develop Toolkit for BrightJS Projects</div>
                    <div class="base-header-projects-item-name">BrightToolkit</div>
                </a>
            </div>
            <div class="span1-6">
                <a class="base-header-projects-item" href="https://github.com/hou80houzhu/corgiserver" target="_blank">
                    <img src="blog/style/images/corgiserver.png">
                    <div class="base-header-projects-item-tip">A web server running javascript like tomcat.</div>
                    <div class="base-header-projects-item-name">corgiserver</div>
                </a>
            </div>
            <div class="span1-6">
                <a class="base-header-projects-item" href="https://github.com/hou80houzhu/brightserver" target="_blank">
                    <img src="blog/style/images/pagemaker.png">
                    <div class="base-header-projects-item-tip">Java web MVC framework. PageMaker is a part of it.To build custom and responsibility website.</div>
                    <div class="base-header-projects-item-name">PageMaker</div>
                </a>
            </div>
            <div class="span1-6">
                <a class="base-header-projects-item" href="https://github.com/hou80houzhu/corgiblog" target="_blank">
                    <img src="blog/style/images/dashboard.png">
                    <div class="base-header-projects-item-tip">Base on BrightJS framework,A dashboard UI</div>
                    <div class="base-header-projects-item-name">DashBoard</div>
                </a>
            </div>
        </div>
    </div>
    <div class="logic">
        <a href="about" class="logic-icon" data-find="icon"><img src="blog/style/images/logo.png"></a>
    </div>
    <div class="logicbtm">
        <div class="logic-btn"><a href="https://twitter.com/hou80houzhu" target="_blank"><i class="fa fa-twitter"></i></a></div>
        <div class="logic-btn"><a href="https://github.com/hou80houzhu" target="_blank"><i class="fa fa-github"></i></a></div>
    </div>
</div>
<!--[list]-->
<div class="list-container" data-find="container"></div>
<div class="list-loading" data-find="loading"><div class="list-loading-icon"><i class="fa fa-loader fa-spin"></i></div></div>
<!--[listitem]-->
<div>
    <%for(var i in data){%>
    <div class="list-con" data-group="item" @cache(data[i])>
        <div class="list-con-title"><a href="detail?id=<%=data[i].id;%>" data-groupi="title"><%=data[i].title;%></a></div>
        <div class="list-con-desc"><%=data[i].descs||"no description";%></div>
        <div class="list-con-time"><%=$.showDate(data[i].ctime);%></div>
    </div>
    <%}%>
</div>
<!--[copyright]-->
<div class="copyright">©2016 • All rights reserved.</div>
<!--[papercontent]-->
<div class="papercontent-con" data-find="con"></div>
<!--[paperheader]-->
<div class="paperheader-bg" data-find="bg"></div>
<div class="paperheader-content">
    <div class="paperheader-content-con">
        <div class="paperheader-content-title" data-find="title">Sticky Post with a Featured Image</div>
        <div class="paperheader-content-desc">
            <div class="paperheader-content-desc-author">
                <div class="paperheader-content-desc-author-icon"><img src="blog/style/images/logo.png"></div>
                <span class="paperheader-content-desc-author-name">Hou80houzhu</span>
                <span class="paperheader-content-desc-author-time" data-find="time">06 05 03</span>
            </div>
        </div>
    </div>
</div>
<div class="paperheader-arrow" data-find="arrow"><i class="fa fa-keyboard_arrow_down"></i></div>
<div class="paperheader-fixed">
    <div class="paperheader-fixed-desc">
        <div class="paperheader-fixed-desc-author"><img src="blog/style/images/logo.png"></div>
        <div class="paperheader-fixed-desc-title" data-find="subtitle">[TITLE]</div>
    </div>
</div>
<!--[paperfooter]-->
<div class="paperfooter-bg"></div>
<div class="paperfooter-content">
    <div class="paperfooter-content-a">hou80houzhu`s developworks</div>
    <div class="paperfooter-content-b">this blog is created based on my open source projects <br/>
            Here we will record some of the things I think is worth sharing, as well as some of my projects dynamic<br/>
            Only to be a developer with craftsman spirit.</div>
    <div class="paperfooter-content-c">
        <a href="https://twitter.com/hou80houzhu" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/hou80houzhu" target="_blank"><i class="fa fa-github"></i></a>
    </div>
    <div class="paperfooter-content-d">
        <a class="paperfooter-content-d-a" href="index" data-find="houme">HOME</a>
    </div>
    <div class="paperheader-content-e">©2016 • All rights reserved.</div>
</div>

<!--[login]-->
<div class="login-con">
    <div class="login-con-logo">
        <div class="login-con-logo-in"><img src="blog/style/images/logo.png"></div>
    </div>
    <div class="login-con-in">
        <div class="login-con-input">
            <div class="logo-con-input-label">username</div>
            <input type="text" placeholder="username" data-find="username">
        </div>
        <div class="login-con-input">
            <div class="logo-con-input-label">password</div>
            <input type="password" placeholder="password" data-find="password">
        </div>
        <div class="login-con-btn" data-find="submit">login</div>
    </div>
</div>
<!--[adminhead]-->
<div class="adminhead-nav">
    <div class="adminhead-nav-con">
        <a href="admin/userinfo" class="adminhead-nav-item">userinfo</a>
        <a href="#" class="adminhead-nav-item">Setting</a>
    </div>
</div>
<!--[articlelist]-->
<div class="articlelist-head">
    <div class="atticlelist-head-btn" data-find="add" href="admin/addarticle"><i class="fa fa-circle-plus"></i> Add Article</div>
</div>
<div class="articlelist-list" data-find="con"></div>
<div class="list-loading" data-find="loading"><div class="list-loading-icon"><i class="fa fa-loader fa-spin"></i></div></div>
<!--[articlelistitem]-->
<div class="list-con" data-group="item" @cache(data)>
     <div class="list-con-title"><a href="admin/editarticle?id=<%=data.id;%>"><%=data.title;%></a></div>
    <div class="list-con-desc"><%=data.descs||"no description";%></div>
    <div class="list-con-time">16 05 12</div>
    <div class="list-con-remove" data-groupi="remove"><i class="fa fa-circle-cross"></i></div>
</div>
<!--[editarticle]-->
<div class="editarticle-con">
    <div class="editarticle-con-title">Edit Article</div>
    <div class="editarticle-con-label">Title</div>
    <div class="editarticle-con-input" data-group="title">
        <input type="text" placeholder="title" data-groupi="input" name="title">
    </div>
    <div class="editarticle-con-label">Short Desc</div>
    <div class="editarticle-con-input" data-group="desc">
        <textarea type="text" placeholder="title" data-groupi="input" name="desc"></textarea>
    </div>
    <div class="editarticle-con-label">Content</div>
    <div class="editarticle-con-content" data-find="editor"></div>
    <div class="editarticle-con-btn">
        <div class="editarticle-con-btn-submit" data-find="submit">Submit</div>
    </div>
</div>
<!--[edituserinfo]-->
<div class="editarticle-con">
    <div class="editarticle-con-title">Edit User Info</div>
    <div class="editarticle-con-label">Content</div>
    <div class="editarticle-con-content" data-find="editor"></div>
    <div class="editarticle-con-btn">
        <div class="editarticle-con-btn-submit" data-find="submit">Submit</div>
    </div>
</div>
<!--[about]-->
<div class="about-bg"></div>
<div class="about-icon">
    <div class="about-icon-logo"><img src="blog/style/images/logo.png"></div>
</div>
<div class="papercontent">
    <div class="papercontent-con" data-find="content"></div>
</div>